---
layout: default
---

<div class="header">
    <div class="overlay-image" style="width:100%; height: 20em; background:url({{ page.header.overlay_image }}); background-size: cover; background-attachment: fixed;">
        <h1 style="color: #fff; padding: 2em 1em 0 1em;">{{ page.title }}</h1>
        <p class="excerpt" style="color: #fff; padding: 2em; vertical-align: bottom;">{{ page.excerpt }}</p>
    </div>
</div>

<br/>
<br/>

{{ content }}

<br/>
<br/>
<br/>


<div class="contributor" style="min-height: 5em;">
    <div class="avatar" style="width: 5em; height: 5em; border-radius: 5em; overflow: hidden; float: left;"><img src="{{ page.contributors[0].avatar }}"></div>
    
    <div class="bio" style="width: 75%; margin-left: 1em; float: left;">

        <h3 style="display: inline; float: left; padding-right: 1em;">{{ page.contributors[0].name }}</h3>
        <a href="https://twitter.com/{{ page.contributors[0].twitter }}" style="display: inline; width: 2em; height: 2em; border-radius: 2em; overflow: hidden; opacity: .75; float: left;"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-twitter-128.png" alt=""></a>
        <div style="float: left">

        {{ page.contributors[0].bio | markdownify }}

        </div>

    </div>

</div>

<br />